<h2>Create New Table</h2>
<form id="table-form">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" class="form-control" id="type" name="type">
  </div>
  <div class="mb-3">
    <label for="id_database" class="form-label">Database</label>
    <select class="form-select" id="id_database" name="id_database" required>
      </select>
  </div>
  <button type="button" form="table-form" class="btn btn-primary">Create</button>
</form>
