<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>CERBERUS - CACTUS GAMING</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="64x64" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/treejs/1.8.3/tree.min.js" integrity="sha512-ia0SBL/FE7YbHU5Wn4Qxzm12zOgNZ7FOp76oGgi/+34G8KLo9Fa9f9tzGC9injQs75EjxaHq9a7iSoup8k8BAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css" integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.min.css" integrity="sha512-6xVTeh6P+fsqDhF7t9sE9F6cljMrK+7eR7Qd+Py7PX5QEVVDLt/yZUgLO22CXUdd4dM+/S6fP0gJdX2aSzpkmg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
  <script>

  var filter_user = Cookies.get("filter_user") == undefined ? false : Cookies.get("filter_user");
  filter_user = filter_user=='false'?false:filter_user;

  function prevent_errors(){
    window.setTimeout(function(){
      $(document).ajaxError(function(event, request, settings) {
        window.location="/logout";
      });
    },5000);
  }

  function refresh_vars(){
    try{
      console.log('try refresh_vars');
      $.getJSON('/getUserLogged',function(ret){
        Cookies.remove("filter_user");    
        filter_user = (ret['is_adm']==true?false:ret['id']);
        filter_user = filter_user=='false'?false:filter_user;
        Cookies.set("filter_user", filter_user);    
      });        
    } catch(err) {  
      console.log(err);
      console.log('trying again refresh_vars in 2 sec...');
      window.setTimeout(refresh_vars,2000);
    } finally {
      console.log('refreshed');
    }
  }

    $(document).ready(function() {
      window.setTimeout(function(){
        var hashatual = window.location.hash;
        if(hashatual!=''){
          var hash = hashatual.replace('#', '');
          if($('.nav-link[data-target='+hash+']')!=undefined){
            $('.nav-link[data-target='+hash+']').trigger('click');
          }
        }else{
          $('.nav-link[data-target=sessions]').trigger('click');
        }
        refresh_vars();
      },100);

        moment.suppressDeprecationWarnings = true;
        prevent_errors();
        $('.nav-link').unbind('click').bind('click',function(e) {
            e.preventDefault();
            var target = $(this).data('target');
            window.location.href = window.location.origin+'#'+target;
            if(target=='logout'){
              window.location='/logout';
              return false;
            }
            $('li.nav-item a').removeClass('sel');
            $(this).addClass('sel');
            $('li.nav-item a').trigger('mouseout');
            $('#content-area').load('/'+ target + '.html'); // Load content based on menu item         
        });
        $('li.nav-item a').unbind('mouseover').unbind('mouseout').bind('mouseover',function(){
          if(!$(this).hasClass('sel')){
            $(this).addClass('active');
          }}).bind('mouseout',function(){
            if(!$(this).hasClass('sel')){
              $(this).removeClass('active');
            }
          }
        );
    });
    
  function print_field_edit(_id,_field,_value,_table){
    return '<span class="edit" _id="'+_id+'" table="'+_table+'" field="'+_field+'" original="'+_value+'">'+ ((_value=='')?'-':_value) + '</span>';
  }

  var __callback=false;
  function bind_crud_real_time(_callback=false){
    if(filter_user){
      return false;
    }
    if(_callback!==false){
      __callback = _callback;
    }
    $('.edit').unbind("dblclick").bind("dblclick",function(){
        $(this).unbind("dblclick");
        var val = $(this).text();
        var _id = $(this).attr('_id');
        var table = $(this).attr('table');
        var field = $(this).attr('field');
        var original = $(this).attr('original');
        $(this).html('<input type="text" field="'+field+'" table="'+table+'" original="'+original+'" _id="'+_id+'" value="'+(val=='-'?'':val)+'" class="editval"/>').find('input').focus().unbind("blur").bind("blur",function(){
          var val_edited = $(this).val();
          var _id_edited = $(this).attr('_id');
          var table_edited = $(this).attr('table');
          var field_edited = $(this).attr('field');
          var original_edited = $(this).attr('original');
          $(this).parent().text(val_edited==''?'-':val_edited);

          if(original_edited==val_edited){
            alertify.message('No modified');
            if(__callback!==false && typeof __callback=='function'){
              __callback();
              __callback=false;
              bind_crud_real_time(__callback);
            }else{
              bind_crud_real_time();
            }
            return false;
          }

          var obj = {}
          obj['val_edited'] = val_edited;
          obj['_id_edited'] = _id_edited;
          obj['table_edited'] = table_edited;
          obj['field_edited'] = field_edited;   
          obj['original_edited'] = original_edited;          
          var dataform = JSON.stringify({'data':obj});

          $.ajax({
            type: 'POST',
            url: '/updateCrudRealTime',
            data: dataform,
            success: function (data) { 
              alertify.success('Updated');
              if(__callback!==false && typeof __callback=='function'){
                __callback();
                __callback=false;
                bind_crud_real_time(__callback);
              }else{
                bind_crud_real_time();
              }
            },
            error: function (jqXHR, textStatus, errorThrown) { 
              console.log("Error",textStatus);
              alertify.error(textStatus);
              if(__callback!==false && typeof __callback=='function'){
                __callback();
                __callback=false;
                bind_crud_real_time(__callback);
              }else{
                bind_crud_real_time();
              }
            },
            contentType: "application/json",
            dataType: 'json'
          });
        });
      });
    }

    function crateUserCombo(_field, _type=0, _qtd=5){
      $.ajax({
          url: "/getUsers/"+_type+'?qtd='+_qtd,
          type: "GET",
          success: function(returned) {
              returned = JSON.parse(returned);
              var users = returned['items'];
              var userCombo = $(_field);
              userCombo.empty();
              userCombo.append($("<option></option>").text('select a responsible for this user').val(''));
              users.forEach(function(user) {
                  var option = $("<option></option>");
                  option.val(user.id);
                  option.text(user.name + " (" + user.email + ")");
                  userCombo.append(option);
              });
          },
          error: function(xhr, status, error) {
              console.log("Error: " + xhr.responseText);
          }
      });
    }
  </script>
  <style>
    .hideadm{
      display: none;
    }
    .ajs-message, .alertify-notifier{
      padding: 1px !important;
    }
    tbody tr:hover {
      --bs-table-bg: #4f4f4f;
      /*cursor: pointer; /* Optional: Change cursor to indicate interactivity */
    }
    .rotate {
      transform: rotate(180deg);
    }
    .modal{
      --bs-modal-bg: #343a40;
    }
    .modal-body{
      background-color: #fff;
      color: #000;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        text-align: center;
        font-size: 14px;
        color: rgb(0 0 0) !important;
    }
    .nav-link:focus, .nav-link:hover {
        color: #dee2e6;
        background-color: rgba(19, 105, 232, 0.5);
    }
    .nav-tabs .nav-link {
        color: #fff;
        background-color: rgba(13, 110, 253, .25);
    }
    .logo{          
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }
    .nav-link.logout{
      position: absolute;
      bottom: 10px;
    }
    .nav-link.logout:hover{
      color: #dee2e6;
      background-color: rgba(232, 19, 19, 0.5) !important;
    }
    .linknav{
      margin-right: 5px;
    }
    .uppercase{
      text-transform: uppercase;
    }
    .capitalize{
      text-transform: capitalize;
    }
  </style>