<h2>Hosts</h2>
<div class="d-flex justify-content-between mb-3">
  <button type="button" class="btn btn-primary bt-newhost" data-toggle="modal" data-target="#hostModal">New Host</button>
</div>
<table class="table table-dark" id="hosts">
  <thead>
    <tr>
      <!-- th scope="col">ID</th -->
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <!-- th scope="col">W.Endpoint</th -->
      <!-- th scope="col">R.Endpoint</th -->
      <!-- th scope="col">Port</th -->
      <!-- th scope="col">Username</th -->
      <!-- th scope="col">Included by</th -->
      <!-- th scope="col">Created at</th -->
      <!-- th scope="col">Updated at</th -->
      <th scope="col" style="width: 50%;">Actions</th>
      </tr>
  </thead>
  <tbody>
    </tbody>
</table>

<div class="pagination">
</div>

<script>
  var qtd_global=0;
  var _bt;
  var _btcontent;
  $(document).ready(function() {

    function ini_table(pag=1,qtd=10){

      qtd_global = qtd;
      $.getJSON('/getHosts?pag='+pag+'&qtd='+qtd, function (returned) {
          //if (!Array.isArray(hosts)) return; // If the response is not an array, it's a single object so convert
          hosts = returned['items'];
          $('#hosts > tbody').empty();
              
          var pag = document.createElement('div');
          pag.innerHTML = '';
          
          if(returned['has_prev']){
            pag.innerHTML += `
                <span page="${returned['prev_num']}" class="btn-sm btn btn-secondary linknav">Anterior</span>
            `;
          }else{
            pag.innerHTML += `
                <span class="btn-sm btn btn-secondary linknav disabled">Anterior</span>
            `;
          }
          var contfor=0;
          for(var i=1; i<=returned['pages']; i++){
            if(i == returned['page']){
              pag.innerHTML += `
                      <span class="btn-sm btn btn-secondary current linknav disabled">${i}</span>
              `;
            }else{
              contfor++;
              pag.innerHTML += `
                    <span page="${i}" class="btn-sm btn btn-secondary linknav">${i}</span>
              `;
            }
            if(false && contfor>3){
              pag.innerHTML += `
                    <span class="btn-sm btn btn-secondary ellipsis linknav disabled">...</span>
              `;
              break;          
            }
          }
          if(returned['has_next']){
            pag.innerHTML += `
                <span page="${returned['next_num']}" class="btn-sm btn btn-secondary linknav">Próximo</span>
            `;
          }else{
            pag.innerHTML += `
                <span class="btn-sm btn btn-secondary linknav disabled">Próximo</span>
            `;
          }
          $('.pagination').html('').append(pag.innerHTML);
          $('.linknav[page]').unbind('click').bind('click',function(){
            ini_table($(this).attr('page'),qtd_global)
          });
          
          for (var i in hosts){
            // console.log(hosts[i]);
            var host_id=hosts[i].id;
            // '<a href="/hosts/' + host_id + '">' + hosts[i].name + '</a></td>' +
            $('#hosts > tbody:last').append('<tr host_id="'+ host_id +'">' +
              //<td>'+ host_id +'</td>' +
              '<td>' + print_field_edit(host_id,'name',hosts[i].name,"Hosts") + '</td>' +
              '<td>' + hosts[i].type + '</td>' +
              //'<td>' + hosts[i].ipaddress + '</td>' +
              //'<td>' + hosts[i].ipaddress_read + '</td>' +
              //'<td>' + hosts[i].port + '</td>' +
              //'<td>' + hosts[i].username + '</td>' +
              //'<td>' + hosts[i].id_user + '</td>' +
              //'<td>' + moment(hosts[i].createdAt).format("YYYY/MM/DD HH:mm") + '</td>' +
              //'<td>' + moment(hosts[i].updatedAt).format("YYYY/MM/DD HH:mm") + '</td>' +
              '<td><button class="btn btn-sm btn-success bt-sync" host_id="'+ hosts[i].id +'"><i class="bi bi-arrow-down-up"></i> sync</button> ' +
                  '<button class="btn btn-sm btn-danger bt-remove" host_id="'+ hosts[i].id +'"><i class="bi bi-trash3-fill"></i> remove+all</button> ' +
                  '<button class="btn btn-sm btn-info bt-info" host_id="'+ hosts[i].id +'"><i class="bi bi-file-plus"></i> details</button><span class="info-space small" style="display:none">'+
                  '<br>'+
                  'ID: '+ host_id + '<br>' +
                  'W.Endpoint: '+ print_field_edit(host_id,'ipaddress',hosts[i].ipaddress,"Hosts") + '<br>' +
                  'R.Endpoint: '+ print_field_edit(host_id,'ipaddress_read',hosts[i].ipaddress_read,"Hosts") + '<br>' +
                  'Port: '+ print_field_edit(host_id,'port',hosts[i].port,"Hosts") + '<br>' +
                  'Username: '+ print_field_edit(host_id,'username',hosts[i].username,"Hosts") + '<br>' +
                  'Included: '+ print_field_edit(host_id,'id_user',hosts[i].id_user,"Hosts") + '<br>' +
                  'Created: '+ moment(hosts[i].createdAt).format("YYYY/MM/DD HH:mm") + '<br>' +
                  'Updated: '+ moment(hosts[i].updatedAt).format("YYYY/MM/DD HH:mm") + '<br>' +
                  '</span></td>' +
              '</tr>');
          }              

              
          $('#hosts tbody tr').unbind('click').bind('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var host_id = $(this).attr("host_id");
            Cookies.set("host_id", host_id);    
            $('#content-area').load('/databases.html');
          });
          
          $('.bt-info').unbind('click').bind('click',function(e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).parent().find('.info-space').toggle();
            if($(this).find('i').hasClass('bi-file-plus')){
              $(this).find('i').removeClass('bi-file-plus');
              $(this).find('i').addClass('bi-file-minus');
            }else{
              $(this).find('i').removeClass('bi-file-minus');
              $(this).find('i').addClass('bi-file-plus');
            }
          });

          $('.bt-sync').unbind('click').bind('click',function(e) {
            e.preventDefault();
            e.stopPropagation();
              if(confirm('Sync every databases and tables?')){
                _bt = $(this);
                _btcontent = $(this).html();
                $(this).html('<i class="fas fa-sync fa-spin"></i>');
                $.get( "/synchosts/" + $(this).attr('host_id'), function( returned ) {
                  _bt.html(_btcontent);
                  console.log(returned);
                  alertify.success('Sync completed!');
                  window.setTimeout(function(){ forceGenerateTree(); },100);
                });
              }
          });

          $('.bt-remove').unbind('click').bind('click',function(e) {
            e.preventDefault();
            e.stopPropagation();
              if(confirm('Remove all sessions + tables + databases + this host?')){
                _bt = $(this);
                _btcontent = $(this).html();
                $(this).html('<i class="fas fa-sync fa-spin"></i>');
                var request_data = JSON.stringify({'data': {host_id: $(this).attr('host_id')}});
                $.ajax({
                  type: 'POST',
                  async : false,
                  url: '/removeHostAndAllTogether',
                  data: request_data,
                  success: function(status) { 
                    ini_table();
                  },
                  contentType: "application/json",
                  dataType: 'json'
                });
              }
          });
          
          bind_crud_real_time(ini_table);

      });

      $('.bt-newhost').unbind('click').bind('click',function(e) {
          e.preventDefault();
          var target = $(this).data('target');
          $('#content-area').load('hosts_new.html'); // Load content based on menu item
      });

    }
    ini_table();
  });

  function forceGenerateTree(){
    $.ajax({
      type: 'GET',
      async : true,
      url: '/forceGenerateTree'
    });
  }

</script>
<style>
  #hosts tbody tr{
    cursor: pointer;
  }
</style>