{% include "header.html" %}
</head>
<body class="bg-dark text-white">
  <div class="container-fluid d-flex flex-nowrap">
    <div class="col-md-2 bg-darker p-0 vh-100">
      <div class="column is-4 is-offset-4" style="text-align: center;">
          <span class="logo">CERBERUS</span>
          <br>
          <img src="/favicon/cerberus.jpeg" style="width: 150px;">
      </div>
      <p style="font-family: 'Playfair', serif; font-optical-sizing: auto; font-weight: 500; font-size: 16px; text-transform: uppercase; margin-top: 20px; text-align: center;">user: <b>{{ name }}</b></p>
      <br>
      <ul class="nav flex-column nav-pills mb-auto" style="margin-top: 15px;">
        <li class="nav-item">
          <a href="#" class="nav-link text-white" data-target="hosts">HOSTS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white" data-target="databases">DATABASES</a>
        </li>
        <li class="nav-item" style="display:none;">
          <a href="#" class="nav-link text-white" data-target="tables">TABLES</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white" data-target="users">USERS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white" data-target="sessions">SESSIONS</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-white" data-target="logout">LOGOUT</a>
        </li>
      </ul>
    </div>
    <div class="col p-3">
      <div id="content-area">
        </div>
    </div>
  </div>
</body>
</html>
