<h2>Create New Session</h2>
<form id="session-form">
  <div class="mb-3">
    <label for="user" class="form-label">User</label>
    <select class="form-select" id="userCombo" name="user" required></select>
  </div>
  <div class="mb-3 periodo" style="display:none;">
      <label for="access_date" class="form-label">Access Date</label>
      <input type="text" class="form-control" name="access_date" required />
      <input type="hidden" name="access_start" id="access_start">
      <input type="hidden" name="access_end" id="access_end">
  </div>
  <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <small><input type="checkbox" name="writer" value="1"> WRITER PRIVILEGES</small>
  </div>
  <button type="button" form="session-form" class="btn btn-primary bt-create">Create</button>
  <button type="button" form="session-form" class="btn btn-danger bt-cancel">CANCEL</button>
</form>

<script>
  var hours=24;
  var filter_user = Cookies.get("filter_user") == undefined ? false : Cookies.get("filter_user");
  filter_user = filter_user=='false'?false:filter_user;
  
  $(document).ready(function() {      
    
    $.getJSON('/getConfigParam/hours_user_session', function (_hours) {
      hours = _hours;
    });

    if(filter_user==false){
      $('.periodo').show();
    }else{
      $('.bt-create').text('Next');
    }
  
    $('input[name="access_date"]').daterangepicker({
        opens: 'left'
    }).on('apply.daterangepicker', function(ev, picker) {
        var start = picker==undefined? moment() :picker.startDate;
        var end = picker==undefined? moment() :picker.endDate;
        
        if(filter_user==false){
          $('#access_start').val(start.format('YYYY-MM-DD'));
          $('#access_end').val(end.format('YYYY-MM-DD'));
        }else{
          $('#access_start').val(moment().format("YYYY-MM-DD HH:mm:ss"));
          $('#access_end').val(moment().add('H',hours).format("YYYY-MM-DD HH:mm:ss"));          
        }
        $('input[name="access_date"]').val(moment($('#access_start').val()).format('DD/MM/YYYY')+' '+moment($('#access_end').val()).format('DD-MM-YYYY'));
        
    }).trigger('apply.daterangepicker');

    $.ajax({
        url: "/getUsers/-1?qtd=1000",
        type: "GET",
        success: function(returned) {
            returned = JSON.parse(returned);
            var users = returned['items'];
            var userCombo = $("#userCombo");
            userCombo.empty();
            users.forEach(function(user) {
                var option = $("<option></option>");
                option.val(user.id);
                option.text(user.name + " (" + user.email + ")");
                option.attr('days',user.days_default_access);
                if(user.name!='Admin' && ((filter_user!=false && (filter_user==user.id || filter_user==user.parent_id)) ||  filter_user===false)){
                  userCombo.append(option);
                }
            });
            userCombo.unbind('change').bind('change',function(){
              var days = $(this).find('option:selected').attr('days');
              $('#access_end').val(moment().add('d',days).format("YYYY-MM-DD HH:mm:ss"));
              $('input[name="access_date"]').val(moment($('#access_start').val()).format('DD/MM/YYYY')+' '+moment($('#access_end').val()).format('DD-MM-YYYY'));   
              console.log('data final: ',$('#access_end').val());  
            }).trigger('change');
                    
            $('.bt-cancel').unbind('click').bind('click',function(e) {
                e.preventDefault();
                $('#content-area').load('/sessions.html'); // Load content based on menu item
            });

            $('.bt-create').unbind('click').bind('click',function(e) {
                e.preventDefault();
                $(this).html('<i class="fas fa-sync fa-spin"></i>').unbind('click');
                if(filter_user==false){
                  $('#access_start').val($('#access_start').val()+(($('#access_start').val().length==10)?' 00:00:00':''));
                  $('#access_end').val($('#access_end').val()+(($('#access_end').val().length==10)?' 23:59:59':''));
                }
                var _dataform = $('form#session-form').serializeArray();
                var days = $('#userCombo option:selected').attr('days');
                _dataform.push({'name': 'days', 'value': days});
                var dataform = JSON.stringify(_dataform);
                $.ajax({
                      type: 'POST',
                      url: '/addSession',
                      data: dataform,
                      success: function(data) { 
                        var target = $(this).data('target');
                        Cookies.set("session_included",data['id_session']);
                        $('#content-area').load('/sessions.html'); // Load content based on menu item
                      },
                      contentType: "application/json",
                      dataType: 'json'
                });
            });
        },
        error: function(xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
  });
</script>