<h2>Create New Session</h2>
<form id="session-form">
  <div class="mb-3">
    <label for="user" class="form-label">User *</label>
    <select class="form-select" id="userCombo" name="user" required></select>
  </div>
  <div class="mb-3 periodo" style="display:none;">
      <label for="access_date" class="form-label">Access Date *</label>
      <input type="text" class="form-control" name="access_date" required />
      <input type="hidden" name="access_start" id="access_start">
      <input type="hidden" name="access_end" id="access_end">
  </div>
  <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <small>* - required fields</small>
  </div>
  <button type="button" form="session-form" class="btn btn-primary bt-create">Create</button>
  <button type="button" form="session-form" class="btn btn-danger bt-cancel">CANCEL</button>
</form>

<script>
  $(document).ready(function() {      
    var filter_user = Cookies.get("filter_user") == undefined ? false : Cookies.get("filter_user");

    if(filter_user==false){
      $('.periodo').show();
    }else{
      $('.bt-create').text('Next');
    }
  
    $('input[name="access_date"]').daterangepicker({
        opens: 'left'
    }).on('apply.daterangepicker', function(ev, picker) {
        var start = picker==undefined? moment() :picker.startDate;
        var end = picker==undefined? moment() :picker.endDate;
        
        if(filter_user==false){
          $('#access_start').val(start.format('YYYY-MM-DD'));
          $('#access_end').val(end.format('YYYY-MM-DD'));
        }else{
          $('#access_start').val(moment().format("YYYY-MM-DD HH:mm:ss"));
          $('#access_end').val(moment().add('d',1).format("YYYY-MM-DD HH:mm:ss"));          
        }
        
    }).trigger('apply.daterangepicker');

    $.ajax({
        url: "/getUsers/0",
        type: "GET",
        success: function(data) {
            var users = JSON.parse(data);
            var userCombo = $("#userCombo");
            userCombo.empty();
            users.forEach(function(user) {
                var option = $("<option></option>");
                option.val(user.id);
                option.text(user.name + " (" + user.email + ")");
                if((filter_user!=false && filter_user==user.id) ||  filter_user===false){
                  userCombo.append(option);
                }
            });
        },
        error: function(xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $('.bt-cancel').click(function(e) {
        e.preventDefault();
        var target = $(this).data('target');
        $('#content-area').load('/sessions.html'); // Load content based on menu item
    });
    $('.bt-create').click(function(e) {
        e.preventDefault();
        var dataform = JSON.stringify($('form#session-form').serializeArray());
        $.ajax({
              type: 'POST',
              url: '/addSession',
              data: dataform,
              success: function(data) { 
                var target = $(this).data('target');
                Cookies.set("session_included",data['id_session']);
                $('#content-area').load('/sessions.html'); // Load content based on menu item
              },
              contentType: "application/json",
              dataType: 'json'
        });
    });
  });
</script>