<h2>Create New Session</h2>
<form id="session-form">
  <div class="mb-3">
    <label for="user" class="form-label">User</label>
    <select class="form-select" id="userCombo" name="user" required></select>
  </div>
  <div class="mb-3 periodo" style="display:none;">
      <label for="access_date" class="form-label">Access Date</label>
      <input type="text" class="form-control" name="access_date" required />
      <input type="hidden" name="access_start" id="access_start">
      <input type="hidden" name="access_end" id="access_end">
  </div>
  <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <small><input type="checkbox" name="writer" value="1"> WRITER PRIVILEGES</small>
  </div>
  <button type="button" form="session-form" class="btn btn-primary bt-create">Create</button>
  <button type="button" form="session-form" class="btn btn-danger bt-cancel">CANCEL</button>
</form>

<script>
  var hours=24;
  var filter_user = Cookies.get("filter_user") == undefined ? false : Cookies.get("filter_user");
  $(document).ready(function() {      
    
    $.getJSON('/getConfigParam/hours_user_session', function (_hours) {
      hours = _hours;
    });

    if(filter_user==false){
      $('.periodo').show();
    }else{
      $('.bt-create').text('Next');
    }
  
    $('input[name="access_date"]').daterangepicker({
        opens: 'left'
    }).on('apply.daterangepicker', function(ev, picker) {
        var start = picker==undefined? moment() :picker.startDate;
        var end = picker==undefined? moment() :picker.endDate;
        
        if(filter_user==false){
          $('#access_start').val(start.format('YYYY-MM-DD'));
          $('#access_end').val(end.format('YYYY-MM-DD'));
        }else{
          $('#access_start').val(moment().format("YYYY-MM-DD HH:mm:ss"));
          $('#access_end').val(moment().add('H',hours).format("YYYY-MM-DD HH:mm:ss"));          
        }
        
    }).trigger('apply.daterangepicker');

    $.ajax({
        url: "/getUsers/0",
        type: "GET",
        success: function(returned) {
            returned = JSON.parse(returned);
            var users = returned['items'];
            var userCombo = $("#userCombo");
            userCombo.empty();
            users.forEach(function(user) {
                var option = $("<option></option>");
                option.val(user.id);
                option.text(user.name + " (" + user.email + ")");
                option.attr('days',user.days_default_access);
                if((filter_user!=false && (filter_user==user.id || filter_user==user.parent_id)) ||  filter_user===false){
                  userCombo.append(option);
                }
            });
            userCombo.unbind('change').bind('change',function(){
              var days = $(this).find('option:selected').attr('days');
              $('#access_end').val(moment().add('d',days).format("YYYY-MM-DD HH:mm:ss"));     
            }).trigger('change');
        },
        error: function(xhr, status, error) {
            console.log("Error: " + xhr.responseText);
        }
    });
    $('.bt-cancel').click(function(e) {
        e.preventDefault();
        var target = $(this).data('target');
        $('#content-area').load('/sessions.html'); // Load content based on menu item
    });
    $('.bt-create').click(function(e) {
        e.preventDefault();
        if(filter_user==false){
          $('#access_start').val($('#access_start').val()+' 00:00:00');
          $('#access_end').val($('#access_end').val()+' 23:59:59');
        }
        var _dataform = $('form#session-form').serializeArray();
        var days = $('#userCombo option:selected').attr('days');
        _dataform.append({'name': 'days', 'value': days});
        var dataform = JSON.stringify(_dataform);
        $.ajax({
              type: 'POST',
              url: '/addSession',
              data: dataform,
              success: function(data) { 
                var target = $(this).data('target');
                Cookies.set("session_included",data['id_session']);
                $('#content-area').load('/sessions.html'); // Load content based on menu item
              },
              contentType: "application/json",
              dataType: 'json'
        });
    });
  });
</script>