<h2>Sessions</h2>

<div class="d-flex justify-content-between mb-3">
  <button type="button" class="btn btn-primary bt-newsession" data-toggle="modal" data-target="#sessionModal">New Session</button>
</div>
<div class="filter_applied">

</div>
<table class="table table-dark" id="Sessions">
  <thead>
    <tr>
      <th scope="col">Writer</th>
      <th scope="col"><span class="filter-title" data-column="user">User</span></th>
      <th scope="col"><span class="filter-title" data-column="approver">Approver</span></th>
      <th scope="col">Access Start</th>
      <th scope="col">Access End</th>
      <th scope="col"><span class="filter-title" data-column="status">Status</span></th>
      <th scope="col">Request Date</th>
      <th scope="col">Approve Date</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
      <!-- th scope="col">Log Operation Cron</th -->
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="pagination">
</div>

<style>
  .filter-icon {
    cursor: pointer;
    margin-left: 5px;
    top: -48px;
    position: relative;
    left: -8px;
  }

  .filter-icon:before {
    content: "\f0b0"; /* FontAwesome filter icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffc107;
  }

  .filter-icon.active:before {
    color: #333;
  }

  .filter-title {
    cursor: pointer;
    margin-left: 20px;
  }
</style>

<script>
var tree_sel;
var qtd_global=0;
var pag_global=0;
var filters_global={};
var global_users_filters={};
var __bt;
var __bt_content;
var filter_user = Cookies.get("filter_user") == undefined ? false : Cookies.get("filter_user");

function ini_table(pag=1,qtd=10,filter={}){
  pag_global = pag;
  qtd_global = qtd;
  filters_global = filter;
  var session_included = Cookies.get("session_included") | undefined;

  $('.filter_applied').html('Filtros aplicados:<br>');
  if(filters_global.hasOwnProperty('user') && Object.keys(filters_global['user']).length>0){
    for(var k in filters_global['user']){
      $('.filter_applied').append('- user: '+global_users_filters[filters_global['user'][k]]);
    }
  }else{
    $('.filter_applied').html('');
  }
  
  $.getJSON('/getSessions'+((filter_user!=false)?'/'+filter_user:'')+'?pag='+pag+'&qtd='+qtd, function (returned) {
    //if (!Array.isArray(sessions)) return; // Check for array response
    $('#Sessions > tbody').empty();
    sessions = returned['items'];

    filters_global['unique_user'] = returned['unique_users'];
    filters_global['unique_approver'] = returned['unique_approvers'];
    filters_global['unique_status'] = returned['unique_status'];

    if(filters_global['unique_user']!=undefined && filters_global['unique_user']!=null && Object.keys(filters_global['unique_user']).length>0){
      for(var h in filters_global['unique_user']){
        global_users_filters[Object.keys(filters_global['unique_user'][h])[0]] = Object.values(filters_global['unique_user'][h])[0];
      }
    }
    
    var pag = document.createElement('div');
    pag.innerHTML = '';
    
    if(returned['has_prev']){
      pag.innerHTML += `
          <span page="${returned['prev_num']}" class="btn-sm btn btn-secondary linknav">Anterior</span>
      `;
    }else{
      pag.innerHTML += `
          <span class="btn-sm btn btn-secondary linknav disabled">Anterior</span>
      `;
    }
    var contfor=0;
    for(var i=1; i<=returned['pages']; i++){
      if(i == returned['page']){
        pag.innerHTML += `
                <span class="btn-sm btn btn-secondary current linknav disabled">${i}</span>
        `;
      }else{
        contfor++;
        pag.innerHTML += `
              <span page="${i}" class="btn-sm btn btn-secondary linknav">${i}</span>
        `;
      }
      if(false && contfor>3){
        pag.innerHTML += `
              <span class="btn-sm btn btn-secondary ellipsis linknav disabled">...</span>
        `;
        break;          
      }
    }
    if(returned['has_next']){
      pag.innerHTML += `
          <span page="${returned['next_num']}" class="btn-sm btn btn-secondary linknav">Próximo</span>
      `;
    }else{
      pag.innerHTML += `
          <span class="btn-sm btn btn-secondary linknav disabled">Próximo</span>
      `;
    }
    $('.pagination').html('').append(pag.innerHTML);
    $('.linknav[page]').unbind('click').bind('click',function(){
      ini_table($(this).attr('page'),qtd_global)
    });
    for (var i in sessions) {

      var id = sessions[i].id
      var writer = sessions[i].writer
      var user = sessions[i].user
      var user_name = sessions[i].user_name
      var approver = sessions[i].approver
      var access_start = sessions[i].access_start
      var access_end = sessions[i].access_end
      var status = sessions[i].status
      var status_id = sessions[i].status_id
      var request_date = sessions[i].request_date
      var approve_date = sessions[i].approve_date
      var description = sessions[i].description
      var updated_at = sessions[i].updated_at
      
      if((!filter_user || returned['approver_user']==true) && status_id==0){
        status+="<button class='btn btn-sm btn-success bt-approve' data-idsession='"+id+"'>approve</button>";
      }
      // Modify selector to target tables table
      $('#Sessions > tbody:last').append('<tr>' +
        '<td'+ (writer=='1'?' style="background-color: #045101;"':'') +'>' + (writer=='1'?'<i class="bi bi-database-add"></i>':'<i class="bi bi-database"></i>') + '</td>' +
        '<td>' + user_name + '</td>' +
        '<td>' + ((approver!=null && approver!='')?approver:'') + '</td>' +
        '<td>' + moment(access_start).format("YYYY/MM/DD HH:mm") + '</td>' +
        '<td>' + moment(access_end).format("YYYY/MM/DD HH:mm") + '</td>' +
        '<td>' + status + '</td>' +
        '<td>' + moment(request_date).format("YYYY/MM/DD HH:mm") + '</td>' +
        '<td>' + (approve_date=='None'?'':moment(approve_date).format("YYYY/MM/DD HH:mm")) + '</td>' +
        '<td><pre>' + description + '</pre></td>' +
        '<td style="text-wrap: nowrap;"> <button class="btn btn-sm btn-success bt-permission" data-bs-session-id="'+ id +'" data-bs-user-id="'+ user +'" data-bs-user-name="'+ user_name +'"><i class="bi bi-person-lines-fill"></i> create rules</button> ' +
        ' <button class="btn btn-sm btn-warning bt-permission-remove" data-bs-session-id="'+ id +'" data-bs-user-name="'+ user_name +'"><i class="bi bi-person-fill-slash"></i> remove rules</button> '+
        ' <button class="btn btn-sm btn-danger bt-remove" data-bs-session-id="'+ id +'" data-bs-user-name="'+ user_name +'" data-bs-user-id="'+ user +'"><i class="bi bi-trash3-fill"></i> delete session</button> '+
        ' <button class="btn btn-sm btn-info bt-info" data-bs-session-id="'+ id +'" data-bs-user-name="'+ user_name +'" data-bs-user-id="'+ user +'"><i class="bi bi-diagram-3-fill"></i> view tree</button> '+
        ' </td>' +
        '</tr>');
    }

    $('.bt-approve').unbind('click').bind('click',function(e) {
      e.preventDefault();
      var _bt = $(this);
      var _btcontent = $(this).html();
      $(this).html('<i class="fas fa-sync fa-spin"></i>').unbind('click');
      //if(confirm('Approve this session?')){
        var user_id_logged = {{ user_id }};
        var request_data = JSON.stringify({'data': {session_id: $(this).data('idsession'), approver: user_id_logged}});
        $.ajax({
          type: 'POST',
          async : true,
          url: '/postHostsDatabasesTablesTreeApprove',
          data: request_data,
          success: function(status) { 
            ini_table();
          },
          contentType: "application/json",
          dataType: 'json'
        });
      //}else{
      //  _bt.html(_btcontent);
      //}
    });

    $('.bt-permission-remove').unbind('click').bind('click',function(e) {
      e.preventDefault();
      const session_id = $(this).attr('data-bs-session-id')
      const user_name = $(this).attr('data-bs-user-name')
      var request_data = JSON.stringify({'data': {session_id: session_id, user_name: user_name}});
      if(confirm('Remove all permissions for this username?')){
        var _bt = $(this);
        var _btcontent = $(this).html();
        $(this).html('<i class="fas fa-sync fa-spin"></i>').unbind('click');
        $(this).html('<i class="fas fa-sync fa-spin"></i>');
        $.ajax({
          type: 'POST',
          async : true,
          url: '/removeUserFromHostBySession',
          data: request_data,
          success: function(status) { 
            ini_table();
          },
          contentType: "application/json",
          dataType: 'json'
        });
      }
    });


    $('.bt-remove').unbind('click').bind('click',function(e) {
      e.preventDefault();
      const session_id = $(this).attr('data-bs-session-id')
      const user_name = $(this).attr('data-bs-user-name')
      const user_id = $(this).attr('data-bs-user-id')
      var request_data = JSON.stringify({'data': {session_id: session_id, user_name: user_name, user_id: user_id}});
      if(confirm('Delete this session?')){
        var _bt = $(this);
        var _btcontent = $(this).html();
        $(this).html('<i class="fas fa-sync fa-spin"></i>').unbind('click');
        $(this).html('<i class="fas fa-sync fa-spin"></i>');
        $.ajax({
          type: 'POST',
          async : true,
          url: '/removeSession/'+((filter_user!=false)?filter_user:'0'),
          data: request_data,
          success: function(status) { 
            ini_table();
          },
          contentType: "application/json",
          dataType: 'json'
        });
      }
    });

    
    $('.bt-info').unbind('click').bind('click',function(e) {
      e.preventDefault();
      __bt = $(this);
      __btcontent = $(this).html();
      $(this).html('<i class="fas fa-sync fa-spin"></i>');
      const session_id = $(this).attr('data-bs-session-id')
      const user_name = $(this).attr('data-bs-user-name')
      const user_id = $(this).attr('data-bs-user-id')
      $.getJSON('/getTreeSession/'+session_id, function (tree) {
        __bt.html(__btcontent);
        if(tree.hasOwnProperty('permissions_name')){
          var modal = $('#passwordModal');
          modal.find('.modal-title').text('Permissions required');
          modal.find('.container').text("Permissions Tree: "+JSON.stringify(tree['permissions_name'], null, 2));
          $('#passwordModal').modal('show');

        }else{
          alert('No permissions required yet');
        }
      });
    });

    
    bind_permission();

    if(session_included!=undefined && session_included!=0){
      Cookies.remove("session_included");
      $('.bt-permission[data-bs-session-id='+session_included+']').trigger('click');
    }

  });
}

$(document).ready(function() {


  ini_table();


  $('.filter-title').each(function(){
    var title = $(this);
    var column = $(this).attr('data-column');
    title.unbind('mouseover').bind('mouseover',function(){
      $(this).css('color','#ffc107');
    }).unbind('mouseout').bind('mouseout',function(){
      $(this).css('color','');
    }).unbind('click').bind('click', function(){   
      if($(this).parent().find('select').length==0){
        title.unbind('mouseout').css('color','#ffc107');   
        var icon_created = $('<i class="filter-icon"></i>').insertAfter($(this));
        var select_created = $('<select class="filter_value"><option value=""></option></select>').unbind('change').bind('change',function(){
          filters_global[column] = $(this).find(':selected').val();
          ini_table(pag_global,qtd_global,filters_global);
          title.parent().find('select,i').remove();
        }).insertAfter($(this));
        var filters = filters_global['unique_'+column];
        if(filters.length>0){
          for(var i in filters){
            select_created.append($('<option>').val(Object.keys(filters[i])[0]).text(Object.values(filters[i])[0]));
          }
        }else{
          title.parent().find('select,i').remove();
          title.unbind('mouseout').bind('mouseout',function(){
            $(this).css('color','');
          }).trigger('mouseout');   
        }
      }else{
          title.parent().find('select,i').remove();
          title.unbind('mouseout').bind('mouseout',function(){
            $(this).css('color','');
          }).trigger('mouseout');   
      }
    });
  }).css('cursor','pointer');

  
  $('.bt-newsession').unbind('click').bind('click',function(e) {
    e.preventDefault();
    var target = $(this).data('target');
    $('#content-area').load('/sessions_new.html'); // Load content for new table form
  });
    
});

function exibeSenha(username,details,waiting_approve){
  var modal = $('#passwordModal');
  modal.find('.modal-title').text(((waiting_approve)?"Waiting approve":"Generated access")+" for: "+username);
  modal.find('.container').text("Username: \""+username+"\"\nTemporary password: \""+details.password+"\"\nHost: "+JSON.stringify(details.host, null, 2)+"\nPermissions Tree: "+JSON.stringify(details.permissions, null, 2)+"\n");
  $('#passwordModal').modal('show');
}

function bind_permission(){
  $('.bt-permission').unbind('click').bind('click',function() {
    __bt = $(this);
    __bt_content = $(this).html();
    
    __bt.unbind('click').html('<i class="fas fa-sync fa-spin"></i>');

    const permissionModal = document.getElementById('permissionModal');
    const button = $(this);
    const session_id = button.attr('data-bs-session-id')
    const user_id = button.attr('data-bs-user-id')
    const user_name = button.attr('data-bs-user-name')    
    const modalTitle = permissionModal.querySelector('.modal-title')

    modalTitle.textContent = "Generate permissions for: "+user_name
    
    window.setTimeout(function(){
      start_datatree();
    },100);
    
  });
}

function start_datatree(){
  
  $.ajax({
      url: '/getHostsDatabasesTablesTree', 
      dataType : 'json',
      async : true,
      success : function(data) { 
        window.setTimeout(function(){
          bind_permission();
          __bt.html(__bt_content);
        },10);
        bindmodal(data);
        $('#permissionModal').modal('show');
      }
  });
  
}

function preventChildExpansion() {
  $('.treejs-switcher').each(function () {
      var $parent = $(this).closest('.treejs-node');
      if (!$parent.hasClass('treejs-node__close')) {
          $parent.addClass('treejs-node__close');
      }
  });
}

function bindmodal(datatree){
  tree_sel = new Tree('.container', { // https://github.com/daweilv/treejs
      closeDepth: 1,
      data: datatree,
      loaded: function () {
        window.setTimeout(preventChildExpansion,100);        
      },
        onChange: function () {
      }
  });

  $('.bt-generate').unbind('click').bind('click',function(){
    var _bt = $(this);
    var _btcontent = $(this).html();
    var selected_val_data = tree_sel.getSelectedNodesById();
    var selected_array_data=[];
    var button = __bt;
    var session_id = button.attr('data-bs-session-id')
    var user_id = button.attr('data-bs-user-id')
    var user_name = button.attr('data-bs-user-name')    
    for(var i in selected_val_data){
      selected_array_data.push(i);
    }
    $(this).html('<i class="fas fa-sync fa-spin"></i>');
    var request_data = JSON.stringify({'data': {username: user_name, session_id: session_id, datatree: selected_array_data, filter_user: filter_user}});

    $.ajax({
      type: 'POST',
      async : true,
      url: '/postHostsDatabasesTablesTree',
      data: request_data,
      success: function(status) { 
        var waiting_approve = status.details.waiting_approve;
        _bt.html(_btcontent);
        $('#permissionModal').modal('hide');
        ini_table();
        exibeSenha(status.username,status.details,waiting_approve);
      },
      contentType: "application/json",
      dataType: 'json'
    });
  });

  window.setTimeout(function(){
    console.log('loaded');
    __bt.html(__bt_content);
  },10);
}

</script>

<div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="permissionModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-6 container">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary bt-generate">Request Access</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="passwordModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea width="100%" style="min-height: 350px;" class="container"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>