<h2>Create New User</h2>
<form id="user-form">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <select class="form-select" id="type" name="type" required>
      <option value="0">Admin (Default Both)</option>
      <option value="1" selected>System User Only</option>
      <option value="2">DB Only</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="parent" class="form-label">Parent User *</label>
    <select class="form-select" id="parentCombo" name="parent" required>
    </select>
  </div>
  <button type="button" form="user-form" class="btn btn-primary bt-create">Create</button>
  <button type="button" form="user-form" class="btn btn-danger bt-cancel">CANCEL</button>
</form>

<script>
  $(document).ready(function() {
      $('.bt-cancel').click(function(e) {
          e.preventDefault();
          var target = $(this).data('target');
          $('#content-area').load('users.html'); // Load content based on menu item
      });
      $('.bt-create').click(function(e) {
          e.preventDefault();
          var dataform = JSON.stringify($('form#user-form').serializeArray());
          $.ajax({
              type: 'POST',
              url: '/addUser',
              data: dataform,
              success: function(data) { 
                var target = $(this).data('target');
                $('#content-area').load('users.html'); // Load content based on menu item
              },
              contentType: "application/json",
              dataType: 'json'
          });
      });
        
      $.ajax({
          url: "/getUsers/0",
          type: "GET",
          success: function(data) {
              var users = JSON.parse(data);
              var userCombo = $("#parentCombo");
              userCombo.empty();
              userCombo.append($("<option></option>").text('select a responsible for this user').val(''));
              users.forEach(function(user) {
                  var option = $("<option></option>");
                  option.val(user.id);
                  option.text(user.name + " (" + user.email + ")");
                  userCombo.append(option);
              });
          },
          error: function(xhr, status, error) {
              console.log("Error: " + xhr.responseText);
          }
      });
  });
</script>