<h2>Users</h2>
<div class="d-flex justify-content-between mb-3">
  <button type="button" class="btn btn-primary bt-newuser" data-toggle="modal" data-target="#userModal">New User</button>
</div>
<nav style="display:none;">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-system-user-tab" data-bs-toggle="tab" data-bs-target="#nav-system-user" type="button" role="tab" aria-controls="nav-system-user" aria-selected="true">System User</button>
    <button class="nav-link" id="nav-database-user-tab" data-bs-toggle="tab" data-bs-target="#nav-database-user" type="button" role="tab" aria-controls="nav-database-user" aria-selected="false">Database User</button>
  </div>
</nav>

<table class="table table-dark" id="system_users">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Type</th>
      <th scope="col">Days for Access</th>
      <th scope="col">Parent</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>

<div class="tab-content" id="nav-tabContent" style="display:none;">
  <div class="tab-pane fade show active" id="nav-system-user" role="tabpanel" aria-labelledby="nav-system-user-tab">
    <!-- TABELA -->
  </div>
  <div class="tab-pane fade" id="nav-database-user" role="tabpanel" aria-labelledby="nav-database-user-tab">
    <table class="table table-dark" id="database_users">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Days for Access</th>
          <th scope="col">System User</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        </tbody>
    </table>
  </div>
</div>

</div>
</div>

<div class="pagination">
</div>

<script>
var qtd_global=0;

$(document).ready(function() {

  var getUsers = function(_type,pag=1,qtd=10){
      qtd_global = qtd;
      $.getJSON('/getUsers/'+_type+'?pag='+pag+'&qtd='+qtd, function (returned) {
        // if (!Array.isArray(users)) return; // Check for array response
        $('#system_users > tbody' ).empty(); // Empty the table body
        $('#database_users > tbody' ).empty(); // Empty the table body
        users = returned['items'];
          
        var pag = document.createElement('div');
        pag.innerHTML = '';
        
        if(returned['has_prev']){
          pag.innerHTML += `
              <span page="${returned['prev_num']}" class="btn-sm btn btn-secondary linknav">Anterior</span>
          `;
        }else{
          pag.innerHTML += `
              <span class="btn-sm btn btn-secondary linknav disabled">Anterior</span>
          `;
        }
        var contfor=0;
        for(var i=1; i<=returned['pages']; i++){
          if(i == returned['page']){
            pag.innerHTML += `
                    <span class="btn-sm btn btn-secondary current linknav disabled">${i}</span>
            `;
          }else{
            contfor++;
            pag.innerHTML += `
                  <span page="${i}" class="btn-sm btn btn-secondary linknav">${i}</span>
            `;
          }
          if(false && contfor>3){
            pag.innerHTML += `
                  <span class="btn-sm btn btn-secondary ellipsis linknav disabled">...</span>
            `;
            break;          
          }
        }
        if(returned['has_next']){
          pag.innerHTML += `
              <span page="${returned['next_num']}" class="btn-sm btn btn-secondary linknav">Próximo</span>
          `;
        }else{
          pag.innerHTML += `
              <span class="btn-sm btn btn-secondary linknav disabled">Próximo</span>
          `;
        }
        $('.pagination').html('').append(pag.innerHTML);
        $('.linknav[page]').unbind('click').bind('click',function(){
          getUsers(_type,$(this).attr('page'),qtd_global)
        });
        
        for (var i in users) {
          var user_id = users[i].id;
          var user_name = users[i].name;
          var user_email = users[i].email;
          var user_type = users[i].type;
          var days = users[i].days_default_access;
          var user_parent = users[i].parent;
          var user_status = users[i].status_name;
          var btn_a = " <button title='activate' class='badge bg-success bt-approve' data-idsuser='"+user_id+"'><i class='bi bi-check-square-fill'></i></button>";
          var btn_d = "<button title='deactivate' class='badge bg-danger bt-deapprove' data-idsuser='"+user_id+"'><i class='bi bi-x-square-fill'></i></button> ";
          var btn = (users[i].status==0)?btn_a:btn_d;
          user_status = (users[i].status==1) ? '<span class="badge bg-success"> ACTIVE</span>' : '<span class="badge bg-danger"> INACTIVE</span>';
          user_status = (users[i].status==0) ? user_status + btn : btn + user_status;
          // Modify selector to target users user
          $('#system_users > tbody:last').append('<tr><td>' + user_id + '</td>' +
            '<td>' + user_name + '</td>' +
            '<td>' + user_email + '</td>' +
            '<td>' + user_type + '</td>' +
            '<td>' + days + '</td>' +
            '<td>' + user_parent + '</td>' +
            '<td>' + user_status + '</td>' +
            '</tr>');
        }
            
        $('.bt-approve, .bt-deapprove').click(function(e) {
          e.preventDefault();
          var id_user = $(this).data('idsuser');
          $.getJSON('/statusChangeUser/'+id_user+'/'+(($(this).hasClass('bt-deapprove'))?'0':'1'), function () {
            getUsers(0);
          });
        });

      });
    };

    // Find tab links and content divs
    const tabLinks = $('.nav-tabs .nav-link');
    const tabContents = $('.tab-pane');
  
    // Hide all tab contents by default
    tabContents.hide().removeClass('active');
  
    // Show the first tab content (or active tab if set)
    let activeTabIndex = 0; // Default to first tab
    const activeTabLink = $('.nav-tabs .nav-link.active'); // Check for pre-active tab
  
    if (activeTabLink.length) {
      activeTabIndex = activeTabLink.index(); // Use index of pre-active tab
    }
      
    // Add click event listener to each tab link
    tabLinks.on('click', function(e) {
      e.preventDefault(); // Prevent default link behavior
      $('.tab-pane').hide();
      // Update active class and show corresponding content
      const clickedTabIndex = $(this).index();
      tabLinks.removeClass("active");
      $(this).addClass("active");
      tabContents.eq(clickedTabIndex).show().fadeTo(0,1);
      // getUsers(clickedTabIndex==0?0:2);// TODO
      getUsers(0);
    });
    
    $('.bt-newuser').click(function(e) {
      e.preventDefault();
      var target = $(this).data('target');
      $('#content-area').load('users_new.html'); // Load content for new table form
    });

    tabLinks.eq(activeTabIndex).trigger('click');

  });
  

</script>
