{% include "header.html" %}
</head>
<body class="bg-dark text-white">
  <div class="container-fluid d-flex flex-nowrap">
    <div class="col-md-2 bg-darker p-0 vh-100">
      <div class="column is-4 is-offset-4" style="text-align: center; margin-top: 30px;">
          <img src="/favicon/cerberus2.png" style="width: 75px;">
          <br>
          <span class="logo">CERBERUS</span>
      </div>
      <p style="font-family: 'Playfair', serif; font-optical-sizing: auto; font-weight: 500; font-size: 16px; text-transform: uppercase; margin-top: 20px; text-align: center;">user: <b>{{ name }}</b></p>
      <br>
      <ul class="nav flex-column nav-pills mb-auto" style="margin-top: 15px;">
        <li class="nav-item">
          <a href="#" class="nav-link text-white request_access_menu" data-target="sessions" data-user-id="{% print user_id %}">ACCESS</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-white logout" data-target="logout">LOGOUT</a>
        </li>
      </ul>
    </div>
    <div class="col p-3">
      <div id="content-area">
        </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('.request_access_menu').trigger('click');
    });
  </script>
</body>
</html>
