<h2>Create New User</h2>
<form id="user-form">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail *</label>
    <input type="text" class="form-control" id="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Username</label>
    <input type="text" class="form-control disabled" id="name" name="name" required readonly style="cursor: not-allowed;background-color: #bbb;">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password *</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="mb-3">
    <label for="days_default_access" class="form-label">Days Default Access</label>
    <input type="number" value="1" class="form-control" id="days_default_access" name="days_default_access" required>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type *</label>
    <select class="form-select" id="type" name="type" required>
      <option value="0">Admin (Default Both)</option>
      <option value="1" selected>User Only</option>
      <option value="2">Approver Only</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="parent" class="form-label">Parent User</label>
    <select class="form-select" id="parentCombo" name="parent" required>
    </select>
  </div>
  <div class="mb-3">
    <small>* - required fields</small>
  </div>
  <button type="button" form="user-form" class="btn btn-primary bt-create">Create</button>
  <button type="button" form="user-form" class="btn btn-danger bt-cancel">CANCEL</button>
</form>

<script>
  $(document).ready(function() {
      $('#email').unbind('keyup').bind('keyup',function(){
        var part = $(this).val().split('@');
        $('#name').val(part[0]);
      });
      $('.bt-cancel').click(function(e) {
          e.preventDefault();
          var target = $(this).data('target');
          $('#content-area').load('users.html'); // Load content based on menu item
      });
      $('.bt-create').click(function(e) {
          e.preventDefault();
          var dataform = JSON.stringify($('form#user-form').serializeArray());
          $.ajax({
              type: 'POST',
              url: '/addUser',
              data: dataform,
              success: function(data) { 
                var target = $(this).data('target');
                $('#content-area').load('users.html'); // Load content based on menu item
              },
              contentType: "application/json",
              dataType: 'json'
          });
      });
      crateUserCombo("#parentCombo");
  });
</script>